extends base

block content
  h2(style="color: #4a4e69;") Reset Your Password
  p Hello #{firstName},
  p We received a request to reset your password. Click the button below to set a new password:
  a.button(href=resetUrl) Reset Password
  p If you didn’t request this, please ignore this email.
