extends base

block content
  h2(style="color: #4a4e69;") Welcome, #{firstName}!
  p We're thrilled to have you as part of the Vintage Vault family.
  p Start exploring the world of exciting auctions today by clicking the button below:
  a.button(href=url) Get Started
  p Happy bidding!
